// getClusterConfig gets the cluster configuration
var getCluster = func(ctx context.Context, env, name string, incluster bool) (client.Client, *rest.Config, error) {
	// Get the control plane configuration
	var config *rest.Config
	var err error

	if incluster {
		// Try in-cluster config first
		log.Trace().Msgf("trying in-cluster config for control plane")
		config, err = rest.InClusterConfig()
		if err != nil {
			log.Trace().Msgf("skipping in-cluster config")

			// Try local kubeconfig next
			log.Trace().Msgf("trying local kubeconfig")
			config, err = clientcmd.BuildConfigFromFlags("", os.Getenv("KUBECONFIG"))
			if err != nil {
				log.Error().Msgf("error creating config: %v", err)
				return nil, nil, err
			}
		}
	} else {
		environments := envv1alpha1.GetEnvironments(ctx, environmentInformer)
		log.Trace().Msgf("using clientSet config for %s %s", env, environments[env].Cluster.Name)
		_, config, err = NewClientSetFunc(ctx, environments[env].Cluster.ProjectID, environments[env].Cluster.Name, environments[env].Cluster.Zone)
		if err != nil {
			log.Error().Msgf("error creating clientSet config for %s: %v", env, err)
			return nil, nil, err
		}
	}
	client, err := client.New(config, client.Options{Scheme: configureScheme()})
	if err != nil {
		log.Error().Err(err).Msg("error creating k8s client")
	}
	return client, config, nil
}
